<%= form_with model: @user, local: true do |form| %>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h4>
      <%= pluralize(@user.errors.count, "error") %> Prohibited this user from benging saved:
    </h4>
    <ul>
      <% @user.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>  
  <div class="input_field">
    <p>
    	<%= form.label :Name %><br>
    	<%= form.text_field :name %>
    </p>
  </div>

  <div class="input_field">
    <p>
      <%= form.label :Email %><br>
      <%= form.text_field :email %>
    </p>
  </div>
  
  <div class="input_field">
    <p>
    	<%= form.label :Contact %><br>
    	<%= form.text_field :contact%>
    </p>
  </div>

  <div class="input_field">
    <p>
    	<%= form.label :Payment %><br>
    	<%= form.text_field :paid%>
    </p>
  </div>

  <div class="input_field">
    <p>
    	<%= form.label :Address %><br>
    	<%= form.text_field :address%>
    </p>
  </div>
  
  <div class="button">
  <p>
  	<%= form.submit :Submit %>
  </p>
<% end %>
