<p class="output_field">
  <strong> Name: </strong>
  <%= @user.name %>
</p>

<p class="output_field">
  <strong> Email: </strong>
  <%= @user.email %>
</p>

<p class="output_field">
  <strong> Contact: </strong>
  <%= @user.contact %>
</p>

<p class="output_field">
	<strong> Payment: </strong>
	<%= @user.paid %>
</p>

<p class="output_field">
	<strong> Address: </strong>
	<%= @user.address %>
</p>

<div class="link_style">
  <%= link_to 'Back', edit_user_path %><br>
</div>

<div class="link_style">
  <%= link_to 'Show Users', users_path %>
</div>

<div class="link_style">
  <%= link_to 'New User', new_user_path %>
</div>

<div class="link_style">
  <%= link_to 'Edit', edit_user_path %>
</div>

<style type="text/css">
  .output_field {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
</style>


<style type="text/css">
  .link_style {
  background-color: #ccffff;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: white;
}
</style>