<div>
  <table>
    <tr>
      <th>Title</th>
      <th>Content</th>
    </tr>

    <% if @page >= 0 and @page <= @posts.count %>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.content %></td>
        </tr>
      <% end %>
      <% else %>
        <h4 style="text-align: center; color: brown"><b>No record Found</b></h4>
        <% @page = -1 %>
      <% end %>
  </table>
</div>

<div style="text-align: center">
  <%= link_to "Previous", admin_posts_path(page: @page - 1), method: 'get', remote: true %>
  |
  <%= link_to "1", admin_posts_path(page: 0), method: 'get', remote: true %>
  |
  <%= link_to "2", admin_posts_path(page: 1), method: 'get', remote: true %>
  |
  <%= link_to "3", admin_posts_path(page: 2), method: 'get', remote: true %>
  |
  <%= "..." %>
  |
  <%= link_to "Next", admin_posts_path(page: @page + 1), method: 'get', remote: true %>
</div>

