<div>
  <table>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <%# if @page >= 0 and @page < 4 %>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.content %></td>
          <td><%= link_to "Show", admin_post_path(post) %> | </td>
          <td><%= link_to "Edit", edit_admin_post_path(post) %> | </td>
          <td><%= link_to "Destroy", admin_post_path(post), method: 'delete', data: { confirm: 'Are you sure?'} %></td>
        </tr>
      <% end %>
      <% #else %>
        <h4 style="text-align: center; color: brown"><b></b></h4>
      <% #end %>
  </table>
</div>

<div style="text-align: center">
  <% if @page == 0 %>
    <%= link_to "<<Previous", admin_posts_path(page: 0), method: 'get', remote: true %>
  <% else %>
    <%= link_to "<<Previous", admin_posts_path(page: @page - 1), method: 'get', remote: true %>
  <% end %>
  |
  <%= link_to "1", admin_posts_path(page: 0), method: 'get', remote: true %>
  |
  <%= link_to "2", admin_posts_path(page: 1), method: 'get', remote: true %>
  |
  <%= link_to "3", admin_posts_path(page: 2), method: 'get', remote: true %>
  |
  <%= "..." %>
  |
  <% if @page > (@records/4).ceil-1 %>
    <%= link_to "Next>>", admin_posts_path(page: (@records/4).ceil), method: 'get', remote: true %>
  <% else %>
    <%= link_to "Next>>", admin_posts_path(page: @page + 1), method: 'get', remote: true %>
  <% end %>
</div><br><br>

<% if flash[:notice] %>
  <div style="text-align: center; color: red">
    <%= flash[:notice] %>
  </div><br><br>
<% end %> 


<div style="text-align: center">
  <%= form_tag admin_posts_path, :method => 'get', :remote => true do %>
    <%= text_field_tag :element, params[:element], placeholder: "Title or Content" %>
    <%= submit_tag "Search" %>
  <% end %>
</div>

